# Servicio
HOST=0.0.0.0
PORT=8080
ENVIRONMENT=development

# Base de datos y Repository
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=ecommerce_db
DATABASE_USER=myuser
DATABASE_PASSWORD=mypassword