# Service
HOST=0.0.0.0
PORT=8080

# Valid values: development | production | testing
ENVIRONMENT=development

# Valid values: true | false
MOCK_DB=false

# Base de datos y Repository
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=ecommerce_db
DATABASE_USER=myuser
DATABASE_PASSWORD=mypassword

# Testing
TEST_DATABASE_HOST=localhost
TEST_DATABASE_PORT=5433
TEST_DATABASE_NAME=test_db
TEST_DATABASE_USER=test_user
TEST_DATABASE_PASSWORD=test_password